{% extends 'base.html' %}

{% block title %} Search by Day {% endblock %}

{% block header %} Search by Day {% endblock %}

{% block content %}
  {% if user.is_authenticated %}

    <form action="{% url 'employees:customers_by_day' %}" method="post" class="col-sm-6 mb-4">
        {% csrf_token %}
          <div class="input-group mb-4">
            <label for="customers_by_day" class="input-group form-control fw-bold bg-danger text-light rounded">Pickup Day:</label>
                <select class="input-group form-control dropdown" name="filter_date">
                  <option class="dropdown-item" value="none" selected disabled hidden> Select A Day </option>
                  <option class="dropdown-item" value="Monday"> "Monday"</option>
                  <option class="dropdown-item" value="Tuesday"> "Tuesday"</option>
                  <option class="dropdown-item" value="Wednesday"> "Wednesday"</option>
                  <option class="dropdown-item" value="Thursday"> "Thursday"</option>
                  <option class="dropdown-item" value="Friday"> "Friday"</option>
                  <option class="dropdown-item" value="Saturday"> "Saturday"</option>
                  <option class="dropdown-item" value="Sunday"> "Sunday"</option>
                </select>
              <button type="submit" class="input-group form-control btn btn-primary col-sm-2 text-uppercase">Search</button>
          </div>
  </form>

    <h3 class="col-sm-6 mb-4 bg-warning p-2 rounded text-center">Search Results for {{selected_day}}: </h3>

    <ul class="list-group list-group-flush rounded mb-4">
        {% for customer in matched_customers %}
          <li class="list-group-item col-sm-6 p-3 bg-info border border-light fw-bold text-dark">
            <a href="{% url 'employees:customer_detail' customer.id %}" class="text-decoration-none text-dark">
              {{customer.name}}<br>
              {{customer.address}}, {{customer.zipcode}}<br>
              Pickup Day: {{customer.pickup_day}}
            </a>
          </li>

        {% endfor %}
    </ul>

    <img class="img-fluid col-sm-6 mb-2 embed-responsive embed-responsive-1by1" alt="Map of Customers" title="customer_address_map" src="{{api_url}}" allowfullscreen></iframe>


   
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}