{% extends 'base.html' %}

{% block title %} Employee Home {% endblock %}

{% block header %} Hello {{ current_employee.name }}! {% endblock %}

{% block content %}
  {% if user.is_authenticated %}

    <h3 class="col-sm-6 mb-4  p-2 text-center">Today's Customers: </h3>
        
    <ul class="list-group list-group-flush mb-4">
        {% for customer in todays_customers %}
        <li class="list-group-item col-sm-6 p-3 bg-info border border-light fw-bold text-dark">
          {{customer.name}} <br> 
          {{customer.address}}, {{customer.zipcode}}
        </li>
        {% endfor %}
    </ul>
    <button type="button" class="col-sm-6 btn btn-dark mb-2">
      <a class="text-light text-uppercase text-decoration-none" href="{% url 'employees:register_pickup' %}">Register New Pickups</a>
    </button>

    <br>

    <button type="button" class="col-sm-6 btn btn-dark mb-4">
      <a class="text-light text-uppercase text-decoration-none" href="{% url 'employees:search_completed_pickups' %}">Search Completed Pickups</a>
    </button>

  

  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}