{% extends 'base.html' %}

{% block title %} Account Info {% endblock %}
{% block header %} <center>Account Info</center> {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h2>
    <center>{{ user.username }}'s Account Info</center>
</h2>
<div class="container col-3">
    <ul class="list-group">
        <li class="list-group-item">
            Name: {{customer.name}}
        </li>
        <li class="list-group-item">
            Zipcode: {{customer.zip_code}}
        </li>
        <li class="list-group-item">
            Regular Pickup: {{customer.reg_pickup }}
        </li>
        {% if customer.one_time_pickup != null %}
        <li class="list-group-item">
            1-Time Pickup: {{customer.one_time_pickup}}
        </li>
        {% endif %}
        <li class="list-group-item">
            {% if customer.suspension == True %}
            Suspended: Yes
            {% else %}
            Suspended: No
            {% endif %}
        </li>
        {% if customer.suspension == True %}
        <li class="list-group-item">
            Suspension Start Date: {{customer.sus_start}}
        </li>
        <li class="list-group-item">
            Suspension End Date: {{customer.sus_end}}
        </li>
        {%endif%}

        <li class="list-group-item">
            Balance: {{customer.balance}}
        </li>
    </ul>
</div>
{% else %}
<center>
    <p>You are not logged in. Please log in or create an account.</p>
    <a href="{% url 'login' %}" class="btn btn-primary" role="button">Log In</a>
    <a href="{% url 'accounts:register' %}" class="btn btn-secondary" role="button">Sign Up</a>
</center>
{% endif %}

{% endblock %}