{% extends 'base.html' %}

{% block title %} 1-Time Pickup {% endblock %}

{% block header %} <center>1-Time Pickup</center> {% endblock %}

{% block content %}
<center>
    <br />
    {% if user.is_authenticated %}
    <div class="container col-3">
        <form method="POST" action="{% url 'customers:onetime_pickup' %}">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text" id="onetime_pickup">1-Time Pickup Date</span>
                <input type="text" class="form-control" placeholder="YYYY-MM-DD" aria-label="onetime_pickup"
                    name="onetime_pickup" id="onetime_pickup">
            </div>

            <div class="input-group mb-3">
                <input type="submit" value="Submit Info" class="btn btn-primary">
            </div>
        </form>
    </div>
    {% else %}
    <p>You are not logged in. Please log in or create an account.</p>
    <a href="{% url 'login' %}" class="btn btn-primary" role="button">Log In</a>
    <a href="{% url 'accounts:register' %}" class="btn btn-secondary" role="button">Sign Up</a>
    {% endif %}
</center>
{% endblock %}

{# This is the home page that allows a logged out user to register or log in #}