{% extends 'base.html' %}

{% block title %} Suspend Account {% endblock %}

{% block header %} <center>Suspend Account</center> {% endblock %}

{% block content %}

<br />
{% if user.is_authenticated %}

<div class="container col-3">
    <form method="POST" action="{% url 'customers:suspend_account' %}">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Start Date</span>
            <input type="text" class="form-control" placeholder="YYYY-MM-DD" aria-label="sus_start" name="sus_start"
                id="sus_start">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">End Date</span>
            <input type="text" class="form-control" placeholder="YYYY-MM-DD" aria-label="sus_end" name="sus_end"
                id="sus_end">

        </div>

        <div class="input-group mb-3">
            <input type="submit" value="Submit Info" class="btn btn-primary">
        </div>
    </form>
</div>

{% else %}
<center>
    <p>You are not logged in. Please log in or create an account.</p>
    <a href="{% url 'login' %}" class="btn btn-primary" role="button">Log In</a>
    <a href="{% url 'accounts:register' %}" class="btn btn-secondary" role="button">Sign Up</a>
</center>
{% endif %}

{% endblock %}

{# This is the home page that allows a logged out user to register or log in #}